page-ajustes {
    .range-md .range-bar-active, 
    .range-md .range-pin,
    .range-md .range-knob,
    .range-md .range-pin::before{
        background: #Ef6c00;
    }

    .ajuste{
        background-color: #333;
        color: white;
        padding: 5px;
        padding-left: 10px;
        
    }
}
