<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Iniciar Sesión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align: center"><img  src="assets/img/avatar-img.png"/></div>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input #email formControlName="email" type="email" 
        [class.invalid]="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty">
      <p>Por favor ingrese un email válido.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input #password formControlName="password" type="password"
        [class.invalid]="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty">
      <p>Su contraseña tiene que tener mas de 6 caracteres.</p>
    </ion-item>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <ion-buttons class="barra-botones" start>
      <button type="submit" ion-button class="boton-aceptar" round>Inicio de sesión</button>
      <button ion-button color="dark" round  (click)="goToRoot()">Cancelar</button>
    </ion-buttons>

  </form>

  <button class="button-clear" color="dark" ion-button block clear (click)="goToResetPassword()">
    ¿Olvidó su contraseña?
  </button>

  <button class="button-clear" color="dark" ion-button block clear (click)="createAccount()">
    Crear una nueva cuenta
  </button>

</ion-content>