<!--
  Generated template for the Categoria page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{nombreCategoria}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-fab class="ubicacion">
   <button ion-fab (click)="openUbicacion()"><ion-icon name="pin"></ion-icon></button>
 </ion-fab>
  <!--<ion-slides loop="true" autoplay="2000" slider="slider1" delegate-handle="slider1" id="navyr-slider1">
    <ion-slide>
      <img src="https://www.tarjetasaenz.com.ar/images/promociones.jpg">
    </ion-slide>
    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL1W7hDKIVWC2KBFFgh5qDdU3SBs-o8m7ckSzddHP7g63Vsre1">
    </ion-slide>
  </ion-slides>-->
  <ion-slides  class="slider-home"  slider="slider1">
    <ion-slide *ngFor="let category of categories | async">
      <img [src]="category.$value">
    </ion-slide>
  </ion-slides>
<div class="titulo tituloSeccion">Top Establecimientos</div>

<ul class="family-icon-scroller">
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="http://vignette1.wikia.nocookie.net/logopedia/images/6/63/Pizza_Hut_2012_logo.png/revision/latest?cb=20140507122847">
      </ion-card>
    </li>
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="https://img.pystatic.com/restaurants/tabulenewlogo.jpg">
      </ion-card>
    </li>
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="https://img.pystatic.com/restaurants/logosla-caleta---refugio-de-comidas.jpg">
      </ion-card>
    </li>
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="https://i1.wp.com/www.seeklogo.com/images/J/Juan_Valdez_Cafe-logo-9D9A5C862E-seeklogo.com.gif">
      </ion-card>
    </li>
</ul>
<div class="titulo tituloSeccion">Sub-Categorías</div>
<ul class="family-icon-scroller">
    <li class="family-icon"  *ngFor="let category of categories | async">
      <ion-card>
        <img [src]="category.$value">
      </ion-card>
    </li>
</ul>
<div class="titulo tituloSeccion">Los más Destacados</div>
<ul class="icon-establecimiento">
    <li class="family-icon">
      <ion-card>
        <img src="http://du4zwgdg3nwxa.cloudfront.net/logotipos/k/kf/kfc-quito-ecuador-logo-1347029017.jpg">
        <div class="titulo-establecimiento centrar">KFC</div>
      </ion-card>
    </li>
    <li class="family-icon">
      <ion-card>
        <img src="http://du4zwgdg3nwxa.cloudfront.net/logotipos/b/ba/bar-restaurant-el-dorado-logo.jpg">
        <div class="titulo-establecimiento centrar">El Dorado</div>
      </ion-card>
    </li>
    <li class="family-icon">
      <ion-card>
        <img src="https://img.pystatic.com/restaurants/tabulenewlogo.jpg">
        <div class="titulo-establecimiento centrar">Tabule</div>
      </ion-card>
    </li>
    <li class="family-icon">
      <ion-card>
        <img src="https://i1.wp.com/www.seeklogo.com/images/J/Juan_Valdez_Cafe-logo-9D9A5C862E-seeklogo.com.gif">
        <div class="titulo-establecimiento centrar">Juan Valdez</div>
      </ion-card>
    </li>
</ul>


</ion-content>