<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png"/></ion-title>
        <ion-buttons end>
        <button button ion-button clear [navPush]="buscar"><ion-icon class="icono-buscar" name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-slides  class="slider-home"  slider="slider1">
  <ion-slide *ngFor="let promo of promos | async">
    <img [src]="promo.url">
  </ion-slide>
</ion-slides>

 <ion-fab class="ubicacion">
   <button ion-fab (click)="openUbicacion()"><ion-icon  name="pin"></ion-icon></button>
 </ion-fab>

<div class="titulo tituloSeccion">Top Establecimientos</div>

<ul class="family-icon-scroller">
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="http://vignette1.wikia.nocookie.net/logopedia/images/6/63/Pizza_Hut_2012_logo.png/revision/latest?cb=20140507122847">
      </ion-card>
    </li>
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="http://du4zwgdg3nwxa.cloudfront.net/logotipos/e/el/el-rincon-del-buen-sazon-logo-1415730159.jpg">
      </ion-card>
    </li>
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="http://du4zwgdg3nwxa.cloudfront.net/logotipos/k/kf/kfc-quito-ecuador-logo-1347029017.jpg">
      </ion-card>
    </li>
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="http://du4zwgdg3nwxa.cloudfront.net/logotipos/b/ba/bar-restaurant-el-dorado-logo.jpg">
      </ion-card>
    </li>
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="https://img.pystatic.com/restaurants/tabulenewlogo.jpg">
      </ion-card>
    </li>
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="https://img.pystatic.com/restaurants/logosla-caleta---refugio-de-comidas.jpg">
      </ion-card>
    </li>
    <li class="family-icon" [navPush]="establecimiento">
      <ion-card>
        <img src="https://i1.wp.com/www.seeklogo.com/images/J/Juan_Valdez_Cafe-logo-9D9A5C862E-seeklogo.com.gif">
      </ion-card>
    </li>
</ul>

<div class="titulo tituloSeccion">Categorías</div>
<ul class="family-icon-scroller">
    <li class="family-icon" [navPush]="categoria" *ngFor="let category of categories | async">
      <ion-card>
        <img [src]="category.url">
      </ion-card>
    </li>
</ul>

<div class=" titulo tituloSeccion">Los más Destacados</div>

<ul class="icon-establecimiento">
    <li class="family-icon" [navPush]="establecimiento"  *ngFor="let buss of business | async">
      <ion-card>
        <img [src]="buss.galerias.url">
        <div class="titulo-establecimiento centrar">Pizza Hut</div>
      </ion-card>
    </li>
</ul>
</ion-content>
