<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png"/></ion-title>
        <ion-buttons end>
        <button button ion-button clear [navPush]="buscar"><ion-icon class="icono-buscar" name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-slides pager="true" autoplay="true" autoplayDisableOnInteraction="false" class="slider-home"  slider="slider1">
  <ion-slide *ngFor="let promo of promos | async">
    <img [src]="promo.url">
  </ion-slide>
</ion-slides>

 <ion-fab class="ubicacion">
   <button ion-fab (tap)="openUbicacion()"><ion-icon  name="pin"></ion-icon></button>
 </ion-fab>

<div class="titulo tituloSeccion">Top Establecimientos</div>

<ul class="family-icon-scroller">
    <li class="family-icon"  *ngFor="let top of tops | async" (tap)="openEstablecimiento(top.$key)">
      <ion-card>
        <img [src]="top.url">
      </ion-card>
    </li>
</ul>

<div class="titulo tituloSeccion">Categorías</div>
<ul class="family-icon-scroller">
    <li class="family-icon" *ngFor="let category of categories | async"   (tap)="openCategoria(category.$key)">
      <ion-card>
        <img [src]="category.url">
      </ion-card>
    </li>
</ul>

<div class=" titulo tituloSeccion">Los más Destacados</div>

<ul class="icon-establecimiento">
    <li class="family-icon"s *ngFor="let important of importants | async" (tap)="openEstablecimiento(top.$key)">
      <ion-card>
        <img [src]="important.url">
        <div class="titulo-establecimiento centrar">{{important.businessName}}</div>
      </ion-card>
    </li>
</ul>
</ion-content>
