// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/*
Generales
*/

.centrar{
        text-align: center;
}

/*
Promociones - home
*/

.swiper-slide img{
    width: 100%;
}

.slider-home{
    height: auto !important;
}

/*
Menu
*/

.menu-header{
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.menu-header ion-col{
    padding:0px;
}

.menu-label{
    margin-top: 20px; 
    margin-left: -15px;  
}

.menu-label label{
    padding-top: 20px;
}

/*
Estilos para el header de pantallas
*/

.header .toolbar-background{
    background-color: #000 !important;
}

.header .bar-button-default, .bar-button-clear, .bar-button{
    color: #fff !important;
}

.header .toolbar-title{
    color: #fff !important;
}

ion-title img{
    width: 150px;
}

/*
Estilos para el menu lateral
*/
ion-avatar img {
    border-radius: 50% !important;
}

.menu-inner .toolbar-background {
    background: url('../assets/img/header.png');
    background-size: cover;
}

.menu-avatar{
    width: 100px;
}


/*
Estilos para las paginas
*/

 .titulo {
      width: 100%;
      padding: 4px;
      background-color: #Ef6c00;
      font-weight: 500;
      font-size: 1.2em;
      color: #fff
 } 

 .tituloSeccion{
     padding-left: 10px;
 }

 ion-card h2{
     text-align: center;
 }

 .titulo-establecimiento{
      width: 100%;
      padding: 3px;
      background-color: #Ef6c00;
      font-weight: 400;
      font-size: 1em;
      color: #fff
 }

     

/**
Seccion de iconos de establecimientos - categorias
*/
.family-icon-scroller {
    height: auto;
    margin-top: 5px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    padding-left: 0px;
}

 .family-icon-scroller .family-icon {
    display: inline-block;
    vertical-align: top;    
    height: auto;
    white-space: normal;
}

.family-icon ion-card{
    width: 100px;
    border-radius: 5px;
    height: auto;
    margin: 2px;
}

.family-icon ion-card ion-item{
    min-height: 3rem;
}

.family-icon .label-md {
    margin: 0px;
}

/*Establecimientos Sueltos*/

.icon-establecimiento{
    margin-top: 20px;
    padding: 0px;
    list-style: none;
}

.icon-establecimiento .family-icon ion-card{
    width: 50% !important;
    @media screen and (min-width: 460px) {
        width: 25% !important;
    }
    @media screen and (min-width: 800px) {
        width: 20% !important;
    }
    @media screen and (min-width: 1200px) {
        width: 10% !important;
    }
    height: auto;
    float: left;
    margin: 0px;
    padding: 5px;
    border-radius: 0px;
}

/*
Icono flotantes
*/

.ubicacion{
    bottom: 20px;
    right: 20px;
}

.boton-reserva{
    width: 100%;
    padding: 10px;
}

.boton-reserva button{
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}

.boton-reservar button{
    font-size: 15px;
    font-weight: 400;
}

ion-fab button{
    background-color: #Ef6c00 !important;
}

.favoritos{
    top: 20px;
    right:20px;
    background-color: white !important;
    color: #999;
}

.fab-ios{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
}




/*
Titulos 
*/

h4 {
    font-size: 1.8rem;
}

.toolbar-title-wp, .toolbar-title-md{
    padding-top: 6px;
}

.button-header{
    float:left;
    padding:0px;   
    background-color: transparent;
}

//Promociones

.swiper-pagination-bullet {
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: #Ef6c00;
    opacity: 1;
}

/*
botones
*/

.botones button{
    font-weight: bold;
    color: #Ef6c00 !important;
    font-size: 1.2em;
}

/*
Formularios
*/

.item-md.item-input.input-has-focus .item-inner{
    border-bottom-color: #Ef6c00 !important;
    box-shadow: inset 0 -1px 0 0 #Ef6c00;
}

.input-has-focus ion-label{
    color:#Ef6c00 !important;
}

.item-ios.item-input.input-has-focus .item-inner{
    border-bottom-color: #Ef6c00 !important;
    box-shadow: inset 0 -1px 0 0 #Ef6c00;
}

.item-wp.item-input.input-has-focus .item-inner input{
    border-color: #Ef6c00 !important;
}

.spacer{
     height: 20px;
}

.fechas-formulario{
    margin-top: 25px;
}

.item-datetime .item-inner{
    border-bottom: 1px solid #dedede !important;
}

.barra-botones{
    text-align: center;
}

.boton-aceptar{
    background-color:#Ef6c00;
}

.boton-cancelar{
    background-color:#Ef6c00;
}

/*
IOS 
*/

.back-button-icon-ios{
    padding-right: 22px;
}

.back-button-text-ios{
    display: none;
}

.content-ios {
    background-color: #fff !important;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
}
.list-ios > .item-block:first-child {
    border-top: none;
}

.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img{
    width: 120px;
    height: 120px;
}


.text-ios-primary{
    color: #fff;
}

/*Imagen navyr login*/


#div-login{
    text-align: center;
 }

/*menus*/

#sesion-out, #cuenta, #puntos, #favoritos{
    display: none;
}
    
