// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*
Estilos para el header de pantallas
*/

.header .toolbar-background-md{
    background-color: #000 !important;
}

.header .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: #fff !important;
}

.header .toolbar-title-md{
    color: #fff !important;
}

/*
Estilos para el menu lateral
*/
ion-avatar img {
    border-radius: 50% !important;
}

.menu-inner .toolbar-background {
    background: url('../assets/img/Quito-1-680x365.jpg');
    background-size: cover;
}

.menu-avatar{
    width: 100px;
}


/*
Estilos para las paginas
*/

 .tituloSeccion {
      width: 100%;
      padding: 5px;
      background-color: #Ef6c00;
      font-weight: 400;
      color: #fff
 } 

 ion-card h2{
     text-align: center;
 }

/**
Seccion de iconos de establecimientos - categorias
*/
.family-icon-scroller {
    height: auto;
    margin-top: 5px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    padding-left: 0px;
}

 .family-icon-scroller .family-icon {
    display: inline-block;
    vertical-align: top;    
    height: auto;
    white-space: normal;
}

.family-icon ion-card{
    width: 100px;
    border-radius: 5px;
    height: auto;
    margin: 2px;
}

.family-icon ion-card ion-item{
    min-height: 3rem;
}

.family-icon .label-md {
    margin: 0px;
}

/*Establecimientos Sueltos*/

.icon-establecimiento .tituloSeccion {
    text-align: center;

}

.icon-establecimiento{
    margin-top: 20px;
    padding: 0px;
    list-style: none;
}

.icon-establecimiento .family-icon ion-card{
    width: 50% !important;
    @media screen and (min-width: 460px) {
        width: 25% !important;
    }
    @media screen and (min-width: 800px) {
        width: 20% !important;
    }
    @media screen and (min-width: 1200px) {
        width: 10% !important;
    }
    height: auto;
    float: left;
    margin: 0px;
    padding: 5px;
    border-radius: 0px;
}

/*
Icono flotantes
*/

ion-fab{
    bottom: 20px;
    right: 30px;
}

ion-fab button{
    background-color: #Ef6c00 !important;
}

/*
Titulos 
*/

h4 {
    font-size: 1.8rem;
}
