<!--
  Generated template for the Establecimiento page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{getEstablecimientoData()?.businessName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-slides class="slider-home" slider="slider1">
    <ion-slide pager="true" *ngFor="let photo of galeryBussiness | async">
      <img [src]="photo.url">
    </ion-slide>
  </ion-slides>
  <!--
  <ion-slides options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="navyr-slider1" style="width:100%;height:200px;">
    <ion-slide>
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTysjSATK43aN4HGxSxf6o5M8-MX7IkpJk6-COwlGSIrNaVWvFR">
    </ion-slide>
    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdP4Mq9EoC3X9NZG_a9GQtvsLDQfkWumtzXjboN6lPx4edOoEA">
    </ion-slide>
    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqKTId0F1LP5ZY-lZaVlLOR9QemSRn_j_FRXzl8Jr422pOs_fM">
    </ion-slide>
  </ion-slides>  
-->
  <ion-fab bottom class="boton-reserva">
    <button ion-fab (click)="abrirReserva()">Reservar</button>
  </ion-fab>
  <ion-fab class="" top right edge>
    <button ion-fab mini class="favoritos" ion-fab><ion-icon  name="star"></ion-icon></button>
  </ion-fab>

  <p>
    {{getEstablecimientoData()?.description}}
  </p>

  <h4>Servicios</h4>
  <ion-list>
    <ion-item ion-item *ngFor="let service of listCatalogServices | async">
      <ion-icon name="{{service.iconMobile}}" item-left></ion-icon>{{service.name}}
      <ion-icon name="{{getService(service.$key) ? 'checkmark-circle' : 'close-circle'}}" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <h4>Información</h4>
  <ion-list>
    <ion-item ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <h4>Horario de Atención:</h4>
      <p *ngFor="let schedule of listSchedules | async">
        {{schedule.getString + schedule.open + " - " + schedule.close}}
      </p>
    </ion-item>
    <ion-item ion-item>
      <ion-icon name="logo-usd" item-left></ion-icon>
      <h4>Precio Promedio:</h4>
      <p>{{getFeature()?.price + "$"}}</p>
    </ion-item>
    <ion-item ion-item>
      <ion-icon name="locate" item-left></ion-icon>
      <h4>Dirección:</h4>
      <p>{{getDireccion()?.mainStreet + " " + getDireccion()?.number + ", " + getDireccion()?.sideStreet}}</p>
    </ion-item>
    <ion-item ion-item>
      <ion-icon name="at" item-left></ion-icon>
      <h4>Dirección Web:</h4>
      <p>{{getEstablecimientoData()?.webPage}}</p>
    </ion-item>
  </ion-list>

  <h4>Métodos de Pago</h4>
  <ion-list class="payment_method">
    <ion-item ion-item *ngFor="let payment of listPayment | async">
      <ion-icon name="{{payment.$key == 'cash'? 'logo-usd' : 'card'}}" item-left></ion-icon>{{getPayment(payment.$key)}}
      <ion-icon name="checkmark-circle" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <h4>Ubicación</h4>
  <div #map id="map">
    <img src="https://maps.googleapis.com/maps/api/staticmap?maptype=roadmap&size=600x400&center={{getDireccion()?.latitude}},{{getDireccion()?.longitude}}&zoom=17&markers=color:red%7Clabel:P%7C{{getDireccion()?.latitude}},{{getDireccion()?.longitude}}&key= AIzaSyCbliPMff9MlsOG6zjYvC-najZI0QRK-Y8"/>
  </div>
</ion-content>