page-micuenta {
 ion-icon{
     padding: 10px 20px 10px 20px;
     font-size: 40px;
 }
 .item-md ion-thumbnail ion-img, .item-md 
 ion-thumbnail img{
     width: 120px;
     height: 120px;
 }

 .item-no-border{
     border-bottom: none !important;
 }

 .item-no-border .item-inner{
     border-bottom: none !important;
 }

.barra-botones{
    width: 45%;
}

 .barra-botones button{
    width: 100%;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 36px;
}

.barra-botones .boton-cancelar{
    background-color: #333 !important;
}

}
