<ion-header>
  <ion-navbar>
        <button class="button-header" (click)="openRootPage()"><img src="assets/icon/navyr.png"/></button>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi Cuenta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <img [src]="DomSanitizer.bypassSecurityTrustUrl(cameraData)" *ngIf="photoTaken">
        <img src="assets/img/avatar-img.png" *ngIf="!photoTaken">
      </ion-thumbnail>
      <ion-icon name="camera"  (click)="tomarFoto()"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Cédula:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nombres:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha Nacimiento:</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>