<ion-header>
  <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi Cuenta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab bottom left class="barra-botones">
        <button ion-fab type="submit" class="boton-aceptar">Guardar</button>
        </ion-fab>
    <ion-fab bottom right class="barra-botones">
        <button ion-fab class="boton-cancelar" (tap)="cancelarCuenta(usuario?.$key)">Cancelar Cuenta</button>
    </ion-fab>
<form [formGroup]="cuentaForm" (ngSubmit)="guardarDatosCuenta(usuario?.$key)" novalidate>
    
  <ion-list>
    <ion-item class="item-no-border">
      <ion-thumbnail item-left>
        <img formControlName="imagen" [src]="DomSanitizer.bypassSecurityTrustUrl(cameraData)" *ngIf="photoTaken">
        <img src="assets/img/avatar-img.png" *ngIf="!photoTaken">
      </ion-thumbnail>
      <ion-icon name="camera"  (click)="tomarFoto()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>Cédula:</ion-label>
      <ion-input formControlName="cedula" name="cedula"  value="{{usuario?.cedula}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Nombres:</ion-label>
      <ion-input formControlName="nombre" name="nombre"  value="{{usuario?.nombre}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Apellidos:</ion-label>
      <ion-input formControlName="apellido"  name="apellido"  value="{{usuario?.apellido}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Teléfono:</ion-label>
      <ion-input formControlName="telefono" name="telefono"  value="{{usuario?.telefono}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Correo Electrónico:</ion-label>
      <ion-input formControlName="email"  name="email"  value="{{usuario?.email}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Fecha Nacimiento:</ion-label>
      <ion-datetime formControlName="nacimiento" name="nacimiento" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" [(ngModel)]="fechaNacimiento"></ion-datetime>
    </ion-item>
  </ion-list>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    
  </form>

</ion-content>